{
    box-sizing: border-box;
    border: 5px;
  }
  body {
    color: white;
    background: rgb(0, 9, 30);
    background: linear-gradient(-30deg, red, orange);
    background-repeat: no-repeat;
  }
  .row {
    text-align: center;
    line-height: 150px;
    display: flex;
    justify-content: center;
  }
  p {
    margin: 10px 30px;
    width: 200px;
    height: 150px;
  }
  #par11 {
    border-style: none;
  }
  #par12 {
    border-style: dotted;
  }
  #par13 {
    border-style: dashed;
  }
  #par14 {
    border-style: solid;
  }
  #par15 {
    border-style: double;
  }
  #par16 {
    border-style: groove;
  }
  #par17 {
    border-style: ridge;
  }
  #par18 {
    border-style: inset;
  }
  #par19 {
    border-style: outset;
  }