

.container{
    border: 2px solid red;
    width: 20rem;
    height: 20rem;
    margin: 50px auto;
    padding: 10px;
    text-align: justify;
    color: yellow;
    text-shadow: 3px 3px 3px;
overflow: scroll;



    background-image: url(./img/resim-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}


.container::-webkit-scrollbar{
width: 0;
}


.container2{
    border: 2px solid red;
    width: 20rem;
    height: 20rem;
    margin: auto;
    background-image: linear-gradient(to right,red,black);
    padding: 10px;
}