@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;300;400;500&family=Bungee+Spice&family=Pacifico&family=Tangerine&display=swap');

.font1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;

}

.font2{
font-family: 'Courier New', Courier, monospace;
font-weight: 500;
font-family: 'Bungee Spice', sans-serif;
font-family: "berivan";
}

.font3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    font-variant: small-caps;
    font-family: 'Bungee Spice', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Tangerine', cursive;
}

.font4{
    font-family: 'Pacifico', cursive;
    font-family: 'Tangerine', cursive;
}

@font-face {
    font-family: "berivan" ;
    src: url(./font/Srisakdi-Bold.ttf);
}

